.container {
    max-width: 1310px;
    margin: 2rem auto;
    padding: 0px 50px;
}

.productContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 5rem;
    padding: 0 50px;
}

.productImage {
    max-width: 550px;
    padding: 0.5rem;
    border: 1px solid #e1e1e1;
}

.productText {
    line-height: 3;

    .productName {
        color: #c8aea1;
        font-size: 20px;
        font-weight: bold;
    }

    .productDesc {
        color: #6e6c6b;
    }

    .productPrice {
        color: #c8aea1;
        font-weight: bold;
    }
}
